# =====================
# Data (NUNCA versionar)
# =====================
data/*.csv
data/splits/*.csv

# =====================
# Notebook outputs
# =====================
data/*.csv
data/splits/*.csv
notebooks/.ipynb_checkpoints/
src/steps/.ipynb_checkpoints/
notebooks/artifacts/
*.joblib

# =====================
# Model artifacts
# =====================
*.joblib
*.pkl
*.tar.gz

# =====================
# Python
# =====================
__pycache__/
*.pyc

