# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data / artifacts (NÃO versionar)
data/
*.csv
*.json
*.jsonl
*.tar.gz
*.joblib
*.pkl

# SageMaker monitoring outputs
tmp_capture/
tmp_capture_drift/
sample_capture/
sample_capture_after*
latest*.jsonl
out*.json
dq_*.json
endpoint_config*.json
new_*.json

# BYOC build artifacts
byoc/wheels/

# OS
.DS_Store
